.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.link {
  color: black
}

.link .card:hover {
 border: 1px solid white;
}

.link:hover {
  color: black;
  text-decoration: none;
}

#header {
  margin-top: 10px;
  height:75px;
}

#post-container {
  margin: 5%;
  margin-bottom: 2%;
}

#pay-title {
  margin: 5%;
  margin-bottom: 2%;
}

#letter-preview-container{
  margin: 1%;
  width: 100%;
  padding: 0.5% 2% 0.2% 2%;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 10px;
}

#order-container{
  margin-left: 23%
}

#order-title{
  border-bottom: 2px solid rgb(168, 168, 168);
}

#order-body{
  border-bottom: 2px solid rgb(168, 168, 168);
  padding: 1% 2% 6% 2%;
  margin: 0% 0% 2% 0%;
}

#order-sum{
  border-top: 2px solid rgb(236, 166, 13);
}

.button-group{
  margin-top: 2%;
}

#post-btn {
  background-color: #C071FF;
  border: none;
  width: 150px;
  height: 57px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  font-size: 23px;
}

#post-btn:hover {
  background-color: #B55CFB;
}

#post-btn span {
  margin-left: 10px;
}

#send-btn-container{
  margin-left: 35%;
}

#send-btn {
  background-color: #C071FF;
  border: none;
  width: 140px;
  height: 53px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  font-size: 20px;
}

#send-btn:hover {
  background-color: #B55CFB;
}

#send-letter-btn {
  background-color: rgb(168, 168, 168);
  border: none;
  width: 120px;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 21px;
}

#send-letter-btn:hover {
  background-color: rgb(140, 138, 141);
}

#cancel-btn {
  background-color: rgb(231, 59, 59);
  border: none;
  width: 110px;
  height: 45px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 19px;
  color: white;
}

#cancel-btn:hover {
  background-color: rgb(180, 47, 47);
}

#pay-btn {
  background-color:  rgb(168, 168, 168);
  border: none;
  width: 110px;
  height: 45px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 19px;
  color: white;
}

#pay-btn:hover {
  background-color: rgb(140, 138, 141);
}

.radio span {
  margin-left: 7px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputField{
  width: 100%;
}

.textField{
  height: 100%;
}